.main{
    height:100%;
    .img-container{
        background-image: url("../../../assets/imgs/3.png");
        background-size: auto 100%;
        background-repeat: no-repeat;
        min-height: 60rem;
        button {
            position: absolute;
            top: 50%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            padding: 1.5rem 2rem;
        }
    }
  }